extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance for detail
  else  
    - let birdsid = toShow._id
    - let birds_Name = toShow.birds_Name
    - let birds_LifeSpan = toShow.birds_LifeSpan
    - let birds_Speed = toShow.birds_Speed
    div
      div.row
        div(class='Attr mr-3') birds ID is:
        div #{birdsid}
      div.row
        div(class='birdsAttr mr-3') birds Name is:
        div #{birds_Name}
      div.row
        div(class='birdsAttr mr-3') birds LifeSpan is:
        div #{birds_LifeSpan}
      div.row
        div(class='birdsAttr mr-3') birds Speed is:
        div #{birds_Speed}





