extends layout

block content
  h1= title
  - var bi= results
  div(class="container-fluid")
  div(class="row")
   each b,index  in bi
    div(class="col-sm-2" onclick =`buy(${index})`) #{b.Name}, #{b.LifeSpan}, #{b.Speed}
    script.
        function buy(a)
        {
            alert(`You purchased Item ${a+1}`)
        }